body{
    color: rgba(0, 40, 85, 0.75);
    font-family: 'Roboto Light';
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Bold';
}
header{
    background-color: #003366;
    height: 13vh;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.sidebar{
    position: fixed;
    top: 13vh;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 260px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

.hv-100{
    height: 100vh;
}
.text-underline{
    text-decoration: underline;
}

ul li{
    list-style: none;
    color: rgba(0,0,0, 0.75);
}

.main-panel, .sidebar, .sidebar-wrapper {
    transition-property: top,bottom,width;
    transition-duration: .2s,.2s,.35s;
    transition-timing-function: linear,linear,ease;
    -webkit-overflow-scrolling: touch;
    height: 100vh;
    max-height: 100%;
}

.main-panel{
    position: relative;
    float: right;
    width: calc(100% - 260px);
    transition: .33s,cubic-bezier(.685,.0473,.346,1);
    padding: 8rem 3rem 0 3rem;
    background-color: #E4E4E4;
}
.card{
    background-color: rgba(255, 255, 255, 0.75);
}
.card-head{
    border-bottom: rgba(0, 40, 85, 0.75) 2px solid;
}
.balance-card{
    border-left: 5px solid #003366;
}
.select-border{
    border: solid #000 1px;
    color: #000;
    border-radius: 5px;
    /* background: url('../images/arrow-down.svg') no-repeat center right; */
}
.table-card{
    background-color: #F8F8F8;
}
.collect-item{
    box-shadow: 0px 3px 6px #468ee526;
}
tbody tr{
    background-color: #fff;
}
tbody td, thead th{
    color: rgba(0, 40, 85, 0.75) !important;
}
.modal-body td{
    text-align: left;
    padding-left: 3rem;
    padding-bottom: 1rem;
}
.modal-body button{
    width: 120px;
}
.modal-body .form-control{
    border-radius: 30px !important;
}
.modal-body .form-control::placeholder{
    color: rgba(0, 40, 85, 0.75);
    font-family: 'Roboto Bold';
    font-size: 14px;
    text-align: center;
}
.modal-body label{
    color: rgba(0, 40, 85, 0.75);
    font-family: 'Roboto Bold';
}
.thead-light{
    background-color: #F8F8F8 !important;
}
.table .thead-light th{
    background-color: #F8F8F8 !important;   
}
.btn{
    border-radius: 30px;
    box-shadow: 0px 3px 6px #468ee526;
    font-family: 'Roboto Medium';
}
.bg-primary{
    background-color: #003366 !important;
}
.border{
    border-radius: 7px;
}
.form-control{
    border: 0 !important;
}
.form-control:focus{
    box-shadow: none !important;
    outline: none;
}
.border:hover{
    box-shadow: 0 0 0 0.15rem rgb(0 123 255 / 25%);
}
.btn-sign{
    background-color: #003366;
    color: #fff;
}
label{
    font-family: 'Roboto Bold';
    color: #000;
}
.bg-primary{
    background-color: #003366 !important;
}